node_modules/
www/
dist/
android/.gradle/
android/app/build/
android/build/
android/captures/
android/local.properties
android/*.iml
android/.idea/
android/app/.cxx/
android/app/*.jks
android/app/*.keystore
*.jks
*.keystore
.DS_Store
*.log
31.59.139.108-1783513792541.log
